In [1]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [ ]:
import sqlalchemy
from googletrans import Translator
import pandas as pd

In [4]:
DM_SERVER = "OBJPLDMSQL"
DM_DATABASE = "Structure"
DM_SCHEMA = "dbo"
DM_DB_CONNECTION = 'mssql+pyodbc://@' + DM_SERVER + '/' + DM_DATABASE + '?driver=SQL+Server+Native+Client+11.0?trusted_connection=yes'
DM_ENGINE = sqlalchemy.create_engine(DM_DB_CONNECTION, pool_size=20, max_overflow=100)

NameError: name 'sqlalchemy' is not defined

In [8]:
DM_SERVER = "OBJPLDMSQL"
DM_DATABASE = "Structure"
DM_SCHEMA = "dbo"
DM_DB_CONNECTION = 'mssql+pyodbc://@' + DM_SERVER + '/' + DM_DATABASE + '?driver=SQL+Server+Native+Client+11.0?trusted_connection=yes'
DM_ENGINE = sqlalchemy.create_engine(DM_DB_CONNECTION, pool_size=20, max_overflow=100)

NameError: name 'sqlalchemy' is not defined

In [21]:
import pandas as pd
import sqlalchemy

DM_SERVER = "OBJPLDMFIN1"
DM_DATABASE = "COST"
DM_SCHEMA = "dbo"
DM_DB_CONNECTION = 'mssql+pyodbc://@' + DM_SERVER + '/' + DM_DATABASE + '?driver=SQL+Server+Native+Client+11.0?trusted_connection=yes'
DM_ENGINE = sqlalchemy.create_engine(DM_DB_CONNECTION, pool_size=20, max_overflow=100)

salaries = pd.read_sql('''
select * FROM [Cost].[dbo].[Salaries]
''', DM_ENGINE.connect())

print(salaries.head())

NameError: name 'salaries' is not defined

In [9]:
x=false
print(~x)

NameError: name 'false' is not defined

In [22]:
def say_hello(recipient):
    return 'Hello, {}!'.format(recipient)

say_hello('Tim')

'Hello, Tim!'

In [26]:
from googletrans import Translator
import pandas as pd
import sqlalchemy

DM_SERVER = "OBJPLDMFIN1"
DM_DATABASE = "COST"
DM_SCHEMA = "dbo"
DM_DB_CONNECTION = 'mssql+pyodbc://@' + DM_SERVER + '/' + DM_DATABASE + '?driver=SQL+Server+Native+Client+11.0?trusted_connection=yes'
DM_ENGINE = sqlalchemy.create_engine(DM_DB_CONNECTION, pool_size=20, max_overflow=100)

salaries = pd.read_sql('''
select * FROM [Cost].[dbo].[Salaries]
''', DM_ENGINE.connect())

print(salaries.head())

translator = Translator()
positions = salaries['FinancePosition'].unique()
translations = []
for x in positions:
    #print(x)
    try:
        translations.append(translator.translate(x.replace('/', ''), dest='en').text)
    except Exception as e:
        translations.append(x)
positions_translations = pd.DataFrame({'FinancePosition': positions, 'FinanceEnglishPosition': translations})
positions_translations.head()

         Date HansaCode             HansaName HansaSheet  HansaEmployerCost  \
0  2018-01-01       S08  Wojciech Krolikowski       OITS           25161.19
1  2018-01-01      None                  None       None                NaN
2  2018-01-01      None                  None       None                NaN
3  2018-01-01      None                  None       None                NaN
4  2018-01-01      None                  None       None                NaN

   FinanceCode            FinanceName                        FinancePosition  \
0          NaN                   None                                   None
1          NaN                   None                                   None
2        758.0  HAMILTON AGATA (0758)                         Bid Consultant
3        760.0    JAROSZ PAWEŁ (0760)  Team Leader Senior IT System Engineer
4        762.0    KAMIŃSKA EWA (0762)  Robotic Process Automation Specialist

   PartTime          ContractType     ...      FullEmployerCost  \
0       NaN                  None     ...                   NaN
1       NaN                  None     ...                   NaN
2       1.0  Na czas nieokreślony     ...               8940.71
3       1.0  Na czas nieokreślony     ...              28270.07
4       1.0  Na czas nieokreślony     ...              15291.29

  EmployerToContractRatio  IsDirector        Computation_Time    ID  \
0                     NaN       False 2018-09-20 16:28:20.133     0
1                     NaN       False 2018-09-20 16:28:20.133  6938
2                1.241765       False 2018-09-20 16:28:20.133  3133
3                2.482880       False 2018-09-20 16:28:20.133  3145
4                0.955706       False 2018-09-20 16:28:20.133  3149

  DateBeforeEmployment  FullTimeContractValue PreviousContractValue  Raise  \
0                False                    NaN                   NaN    NaN
1                False                    NaN                   NaN    NaN
2                False                 7200.0                   NaN    NaN
3                False                11386.0                   NaN    NaN
4                False                16000.0                   NaN    NaN

   IsMaternity
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

[5 rows x 46 columns]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>FinancePosition</th>
      <th>FinanceEnglishPosition</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Bid Consultant</td>
      <td>Bid Consultant</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Team Leader Senior IT System Engineer</td>
      <td>Team Leader Senior IT System Engineer</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Robotic Process Automation Specialist</td>
      <td>Robotic Process Automation Specialist</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Business Travel Coordinator</td>
      <td>Business Travel Coordinator</td>
    </tr>
  </tbody>
</table>
</div>

In [82]:
from datetime import datetime
file = 'OBIT_B2B_04.2018.xlsx'
hansa_data = pd.read_excel(r'C:\Users\anicieja\Documents\OBJ\PL_automation\source\\' + file, 'Hansa Report')
hansa_data['HansaSheet'] = file[:8]
hansa_data['Opis'] = hansa_data['Unnamed: 1']
hansa_data['Date'] = datetime.strptime(file[9:16], '%m.%Y').date()

hansa_array = []
hansa_array.append(hansa_data)

hansa_array[0].columns

hansa_data.head()
# print(type(hansa_array))

for col in hansa_data.columns:
    print(col)

Konto
Unnamed: 1
Stan pocz.
Okres Wn
Okres Ma
Saldo
Unnamed: 6
HansaSheet
Opis
Date

In [74]:
thislist = ["apple", "banana", "cherry"]
thislist[0].columns

AttributeError: 'str' object has no attribute 'columns'

In [75]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!