In [668]:
import pandas as pd
import re
import sqlalchemy
import unicodedata
import difflib
import xlwings as xw
from datetime import datetime
from googletrans import Translator
from os import listdir
from os.path import isfile, join

mypath = 'C:\\Users\\anicieja\Documents\\OBJ\\PL_automation\\source_new\\stawki'
onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]

In [669]:
onlyfiles = [file for file in onlyfiles if not '~' in file]
onlyfiles

['ZESTAWIENIE WYNAGRODZEŃ_102018.xlsx']

In [670]:
def get_protected_sheet_data(PATH):
    wb = xw.Book(PATH)

    salaries = []
    for sheet in wb.sheets:
        print(sheet)

        data_from_sheet = sheet.range('A1').expand().options(pd.DataFrame, index=False, header=True).value

        # data_from_sheet['Etat'] = data_from_sheet['Etat']

        data_from_sheet.rename(columns={"Tytul": "Stanowisko",
                                        "Kwota": "Stawka",
                                        "kwota": "Stawka",
                                        "Wartość": "Stawka",
                                        "wartość": "Stawka",
                                        "Nazwisko i imię": "Pracownik",
                                        "Nazwisko": "Pracownik",
                                        "ETAT": 'Etat'}, inplace=True)

        data_from_sheet['FinanceSheet'] = sheet.name
        
        if "B2B" in sheet.name:
            data_from_sheet['Etat'] = "B2B"
            data_from_sheet['Typ umowy'] = 'B2B'
        
        if 'UOP' in sheet.name:
            data_from_sheet['Pracownik'] = data_from_sheet['Pracownik'] + ' ' + data_from_sheet['Imie']
        
        date_tmp = wb.name[26:30] + '-' + wb.name[24:26] + '-' + '01'
        print(date_tmp)
        data_from_sheet['Date'] = date_tmp
        data_from_sheet['Date'] = data_from_sheet['Date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
        
        # full_cost_columns = data_from_sheet.columns.values
        # data_from_sheet['EnovaEmployerCost'] = data_from_sheet.apply(lambda x: get_full_cost(x, full_cost_columns), axis=1)

        salaries.append(data_from_sheet[['Kod', 'Pracownik', 'Stanowisko', 'Etat',
                                         'Typ umowy', 'FinanceSheet', 'Stawka', 'Date']])

    return salaries

def etat_to_number(x):
    g = re.match('([0-9])/([0-9])', str(x).replace("'", ""))
    if g is None:
        return g
    g = g.groups()
    if len(g) == 1:
        return g[0]
    return float(g[0])/float(g[1])

def get_name(x):
    x = unicodedata.normalize('NFD', x.lower()).replace('ł', 'l').encode('ascii', 'ignore').decode()
    if '(' in x:
        full_name = re.match('(.{1,}) (.{1,}) \(.{1,}\)', x).groups()
    else:
        full_name = re.match('(.{1,}) (.{1,})', x).groups()
    return full_name[1].title() + ' ' + full_name[0].title()

In [671]:
salaries_array = []
for name in onlyfiles:
    print(name)
    salaries_array.append(pd.concat(get_protected_sheet_data(mypath + '\\' + name)))

ZESTAWIENIE WYNAGRODZEŃ_102018.xlsx

<Sheet [ZESTAWIENIE WYNAGRODZEŃ_102018.xlsx]UOP_OBSS>

2018-10-01
<Sheet [ZESTAWIENIE WYNAGRODZEŃ_102018.xlsx]B2B_OBSS>
2018-10-01

<Sheet [ZESTAWIENIE WYNAGRODZEŃ_102018.xlsx]UOP_OITS>
2018-10-01
<Sheet [ZESTAWIENIE WYNAGRODZEŃ_102018.xlsx]B2B_OITS>

2018-10-01

In [672]:
salaries = pd.concat(salaries_array)

salaries = salaries.rename(columns={
    'Kod': 'FinanceCode',
    'Pracownik': 'FinanceName',
    'Stanowisko': 'FinancePosition',
    'Etat': 'PartTime',
    'Stawka': 'ContractValue',
    'Typ umowy': 'ContractType',
})

salaries['PartTime'] = salaries['PartTime'].apply(etat_to_number) 
salaries = salaries.drop_duplicates()
# tmp = 4 - len(salaries['FinanceCode'])
# for x in range(tmp):
#     salaries['FinanceCode'] = "0" + salaries['FinanceCode']
# 
# salaries['FinanceCode'] = str(salaries['FinanceCode'])
# print(salaries['FinanceCode'])
salaries['CorrectedFinanceName'] = salaries['FinanceName'].apply(get_name)
salaries['CorrectedFinanceName'] = salaries['CorrectedFinanceName'].str.upper()
salaries['PartTime'] = salaries['PartTime'].fillna(1)
# salaries['CorrectedFinanceName'] = "(" + salaries['FinanceCode'] + ") " + salaries['FinanceName'].str.upper()

In [673]:
salaries.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>FinanceCode</th>
      <th>FinanceName</th>
      <th>FinancePosition</th>
      <th>PartTime</th>
      <th>ContractType</th>
      <th>FinanceSheet</th>
      <th>ContractValue</th>
      <th>Date</th>
      <th>CorrectedFinanceName</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>74</td>
      <td>ADAMSKA URSZULA</td>
      <td>SENIOR PROJECT MANAGER</td>
      <td>0.8</td>
      <td>Na czas nieokreślony</td>
      <td>UOP_OBSS</td>
      <td>10000.0</td>
      <td>2018-10-01</td>
      <td>URSZULA ADAMSKA</td>
    </tr>
    <tr>
      <th>1</th>
      <td>41</td>
      <td>ADAMSKA-WOŹNY ALEKSANDRA</td>
      <td>Assistant Guild Master</td>
      <td>1.0</td>
      <td>Na czas nieokreślony</td>
      <td>UOP_OBSS</td>
      <td>8000.0</td>
      <td>2018-10-01</td>
      <td>ALEKSANDRA ADAMSKA-WOZNY</td>
    </tr>
    <tr>
      <th>2</th>
      <td>821</td>
      <td>ANDRUSIECZKO ANDRZEJ</td>
      <td>Junior Quality Engineer/ Młodszy Tester Oprogr...</td>
      <td>1.0</td>
      <td>Na czas nieokreślony</td>
      <td>UOP_OBSS</td>
      <td>5000.0</td>
      <td>2018-10-01</td>
      <td>ANDRZEJ ANDRUSIECZKO</td>
    </tr>
    <tr>
      <th>3</th>
      <td>157</td>
      <td>ANDRZEJEWSKI ADRIAN</td>
      <td>Chapter Leader Service Delivery Manager</td>
      <td>1.0</td>
      <td>Na czas nieokreślony</td>
      <td>UOP_OBSS</td>
      <td>12000.0</td>
      <td>2018-10-01</td>
      <td>ADRIAN ANDRZEJEWSKI</td>
    </tr>
    <tr>
      <th>4</th>
      <td>802</td>
      <td>ANTONETS IULIIA</td>
      <td>ANALITYK BIZNESOWY</td>
      <td>1.0</td>
      <td>Na czas nieokreślony</td>
      <td>UOP_OBSS</td>
      <td>12500.0</td>
      <td>2018-10-01</td>
      <td>IULIIA ANTONETS</td>
    </tr>
  </tbody>
</table>
</div>

In [674]:
FIN_SERVER = "OBJPLDMFIN1"
FIN_DATABASE = "Cost"
FIN_SCHEMA = "dbo"
FIN_DB_CONNECTION = 'mssql+pyodbc://@' + FIN_SERVER + '/' + FIN_DATABASE + '?driver=SQL+Server+Native+Client+11.0?trusted_connection=yes'
FIN_ENGINE = sqlalchemy.create_engine(FIN_DB_CONNECTION, pool_size=20, max_overflow=100)

In [675]:
salaries.reset_index()
salaries.to_sql('Sal_con', FIN_ENGINE.connect(), if_exists='replace')

In [676]:
DM_SERVER = "OBJPLDMSQL"
DM_DATABASE = "Structure"
DM_SCHEMA = "dbo"
DM_DB_CONNECTION = 'mssql+pyodbc://@' + DM_SERVER + '/' + DM_DATABASE + '?driver=SQL+Server+Native+Client+11.0?trusted_connection=yes'
DM_ENGINE = sqlalchemy.create_engine(DM_DB_CONNECTION, pool_size=20, max_overflow=100)

In [677]:
employees = pd.read_sql('''
select * FROM [Structure].[dbo].[Structure_Monthly] where Date >= '{0}' and Date <= '{1}'
'''.format(salaries['Date'].min(), salaries['Date'].max()), DM_ENGINE.connect())

In [678]:
employees['Level'] = employees['Level'].replace({'': 'Regular'})

In [679]:
names_changes = pd.read_sql('''
SELECT distinct concat([First_Name], ' ', [Surname]) as NameFrom
      ,concat([First_Name], ' ', [Previous_Surname]) as NameTo
FROM [Translations].[dbo].[Maiden_Name]

UNION ALL

SELECT distinct concat([First_Name], ' ', [Previous_Surname]) as NameFrom
      ,concat([First_Name], ' ', [Surname]) as NameTo
FROM [Translations].[dbo].[Maiden_Name]
''', DM_ENGINE.connect())

In [680]:
translator = Translator()
positions = salaries['FinancePosition'].unique()
translations = []
for x in positions:
    #print(x)
    try:
        translations.append(translator.translate(x.replace('/', ''), dest='en').text)
    except Exception as e:
        translations.append(x)
positions_translations = pd.DataFrame({'FinancePosition': positions, 'FinanceEnglishPosition': translations})
positions_translations.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>FinancePosition</th>
      <th>FinanceEnglishPosition</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>SENIOR PROJECT MANAGER</td>
      <td>SENIOR PROJECT MANAGER</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Assistant Guild Master</td>
      <td>Assistant Guild Master</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Junior Quality Engineer/ Młodszy Tester Oprogr...</td>
      <td>Junior Quality Engineer/ Młodszy Tester Oprogr...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Chapter Leader Service Delivery Manager</td>
      <td>Chapter Leader Service Delivery Manager</td>
    </tr>
    <tr>
      <th>4</th>
      <td>ANALITYK BIZNESOWY</td>
      <td>ANALITYK BIZNESOWY</td>
    </tr>
  </tbody>
</table>
</div>

In [681]:
salaries = salaries.merge(positions_translations, how='left')
salaries.shape

(656, 10)

In [682]:
def get_matched_record(record, name_column='CorrectedFinanceName', position_column='FinanceEnglishPosition', prefix=''):
    record = record.iloc[0]
    x = record[name_column]
    #print(x)

    ratios = pd.DataFrame({'Name': employees['Name'].unique(),
                           'Ratio': [difflib.SequenceMatcher(None, x, name).ratio() for name in employees['Name'].unique()]
                           })

    max_ratio = ratios['Ratio'].max() - 0.1
    if max_ratio < 0.85:
        print(x)
        print(ratios['Ratio'].max())

        ratios_maiden = pd.DataFrame({'Name': names_changes['NameFrom'].tolist(),
                                      'Ratio': [difflib.SequenceMatcher(None, x, name).ratio() for name in names_changes['NameFrom'].tolist()]
                                      })
        max_ratio_maiden = ratios_maiden['Ratio'].max()
        matched_name_maiden = ratios_maiden[ratios_maiden['Ratio'] >= max_ratio_maiden]
        if matched_name_maiden.shape[0] >= 1 and (max_ratio_maiden - 0.1) > max_ratio:
            x = names_changes['NameTo'][names_changes['NameFrom'] == matched_name_maiden['Name'].iloc[0]].iloc[0]

            ratios = pd.DataFrame({'Name': employees['Name'].unique(),
                                   'Ratio': [difflib.SequenceMatcher(None, x, name).ratio() for name in employees['Name'].unique()]
                                   })

            max_ratio = ratios['Ratio'].max() - 0.1

    matched_name = ratios[ratios['Ratio'] >= max_ratio]

    x = record[position_column]
    #TODO
    #x= translator.translate(x, dest='en').text

    positions = employees[['Name', 'Position']].drop_duplicates().merge(matched_name, how='inner', on='Name')[['Name', 'Position', 'Ratio']]

    pos_ratios = pd.DataFrame({
        prefix + 'MatchedName': positions['Name'].tolist(),
        prefix + 'MatchedNameRatio': positions['Ratio'].tolist(),
        prefix + 'MatchedPosition': positions['Position'].tolist(),
        prefix + 'MatchedPositionRatio': [difflib.SequenceMatcher(None, x.lower() if x is not None else ' '
                                                                  , name.lower() if name is not None else ' ').ratio() for name in positions['Position'].tolist()]
    })
    pos_max_ratio = pos_ratios[prefix + 'MatchedPositionRatio'].max()
    matched_pos = pos_ratios[pos_ratios[prefix + 'MatchedPositionRatio'] >= pos_max_ratio]

    matched_pos = matched_pos[matched_pos[prefix + 'MatchedNameRatio'].max() == matched_pos[prefix + 'MatchedNameRatio']]

    return matched_pos

In [683]:
matched_employees = salaries.groupby(['CorrectedFinanceName', 'FinanceEnglishPosition']).apply(get_matched_record).reset_index()

ABIKE STRZEBINCZYK
0.2222222222222222
ABIKE STRZEBINCZYK
0.2222222222222222

ADAM AUKSEL
0.3
ADAM BASTRZYK
0.2727272727272727
ADAM KOWALCZYK
0.25

ADAM LASON
0.3157894736842105
ADAM LEPKOWSKI
0.2608695652173913
ADAM LUCZAK
0.2857142857142857
ADRIAN ANDRZEJEWSKI

0.21428571428571427
ADRIAN DOBROWOLSKI
0.2222222222222222
ADRIAN DOLNIAK
0.25

ADRIAN DUDACZYK
0.24
ADRIAN MACZUGA
0.25
ADRIAN MUCHA
0.2857142857142857
ADRIAN NOWAKOWSKI

0.23076923076923078
ADRIAN SLABICKI
0.25
ADRIAN SZCZEPANEK
0.23076923076923078

AGATA BEDNAREK
0.2608695652173913
AGATA HAMILTON
0.25
AGATA MARCHWICKA
0.24
AGATA PAWLOWICZ
0.24

AGATA SWIERK
0.2857142857142857
AGNIESZKA BARTNIKIEWICZ
0.1875
AGNIESZKA LOZOWICKA
0.20689655172413793

AGNIESZKA MACIEJ
0.23076923076923078
AGNIESZKA PATALAS
0.2222222222222222
AGNIESZKA PIECZENCZYK
0.1875

ALEKSANDER BADURA
0.22857142857142856
ALEKSANDER LAUROWSKI
0.23809523809523808
ALEKSANDRA ADAMSKA-WOZNY
0.20833333333333334

ALEKSANDRA KALISZAN
0.20689655172413793
ALEKSANDRA KLONOWSKA
0.2

ALEKSANDRA OTREMBA
0.21428571428571427
ALEKSANDRA SZABLONSKA
0.2
ALEKSANDRA WOJCIECHOWSKA

0.18181818181818182
ALICJA DUDEK
0.2608695652173913
ALICJA JAKUBEK
0.24

ALICJA NICIEJA
0.2608695652173913
ALICJA PYCZAK
0.2727272727272727
ANDRZEJ ANDRUSIECZKO
0.23809523809523808
ANDRZEJ JURZAK
0.25

ANDRZEJ KRZEPTOWSKI
0.21428571428571427
ANDRZEJ NOWIK
0.2608695652173913
ANDRZEJ SMOLINSKI
0.23076923076923078

ANDRZEJ STADNIK
0.25
ANDRZEJ SYDOR
0.2727272727272727
ANDZELIKA STEPKOWSKA
0.20689655172413793

ANETA WILCZYNSKA-GALESKA
0.23255813953488372
ANGELIKA PLATEK
0.23076923076923078
ANNA BARTOSIEWICZ
0.23076923076923078
ANNA DREZNER-GAJAK
0.2777777777777778

ANNA FIDOR
0.3157894736842105
ANNA FRATCZAK
0.2727272727272727
ANNA GALEWSKA
0.2727272727272727
ANNA GARLIKOWSKA
0.24

ANNA GOLUCHOWSKA
0.24
ANNA KOSCIELNA
0.2608695652173913
ANNA KURYLOWICZ
0.25
ANNA LISOWSKA
0.2727272727272727

ANNA LISZEWSKA
0.2608695652173913
ANNA MOROZ
0.3157894736842105
ANNA SIEK
0.3333333333333333

ANNA SOKOLOWSKA
0.25
ANNA SZCZEPANSKA
0.24
ANNA ZACHAREWICZ
0.24

ARKADIUSZ KUMPIN
0.27586206896551724
ARKADIUSZ PACHUCY
0.23076923076923078
ARKADIUSZ PEKACZ
0.2222222222222222
ARKADIUSZ STARCZEWSKI
0.2

ARTUR CZARTORYSKI
0.23076923076923078
ARTUR GAJOS
0.3
ARTUR KOSTA
0.3
ARTUR KOSTYRA
0.2727272727272727

ARTUR PAKULA
0.2727272727272727
ARTUR SKRZYPEK
0.2608695652173913
BARBARA GLOBISZ-DURAWA
0.22727272727272727
BARBARA SERAFINOWICZ

0.20689655172413793
BARTLOMIEJ BUGAJNY
0.2222222222222222
BARTLOMIEJ GULIS
0.24

BARTLOMIEJ HORONIECKI
0.2
BARTLOMIEJ WALOCHA
0.2222222222222222

BARTLOMIEJ WITYCH
0.23076923076923078
BARTLOMIEJ WOJCIK
0.21428571428571427
BARTOSZ CICHOWSKI
0.23076923076923078

BARTOSZ FRANCZAK
0.24
BARTOSZ HETMANSKI
0.26666666666666666
BARTOSZ JANIAK
0.24

BARTOSZ JANUSZKIEWICZ
0.1875
BARTOSZ JASZCZAK
0.2222222222222222
BARTOSZ MADRY
0.2608695652173913

BARTOSZ ORLOWSKI
0.23076923076923078
BARTOSZ SZATANIK
0.24
BARTOSZ WYSOCKI
0.23076923076923078

BEATA JAROS
0.3
BEATA WINCZASZEK
0.24
BLAZEJ CEPIL
0.2608695652173913
BLAZEJ GWOZDECKI
0.26666666666666666

BLAZEJ JANKOWIAK
0.2222222222222222
BLAZEJ KOWALEWSKI
0.23076923076923078
BLAZEJ PIETRZAK
0.25
CELINA URBANCZYK

0.24
CEZARY DABROWSKI
0.24
DAGMARA KONIECZNA
0.2222222222222222
DAMIAN BIS

0.3157894736842105
DAMIAN GRZEGORZEWSKI
0.20689655172413793
DAMIAN RUTKIEWICZ
0.23076923076923078
DAMIAN URBASZEWSKI
0.2222222222222222

DAMIAN WOLAN
0.2727272727272727
DARIA KACZMAREK
0.24
DARIUSZ DANIELECKI
0.2222222222222222

DARIUSZ OLSZEWSKI
0.2222222222222222
DARIUSZ RATAJCZYK
0.23076923076923078
DAVID BELTRAN RUIZ
0.2222222222222222

DAVID MAYNARD
0.2727272727272727
DAWID CIESLICKI
0.25
DAWID JASINSKI
0.2608695652173913
DAWID KOBIERSKI
0.25

DAWID MEGA
0.3
DAWID PAJAK
0.2857142857142857
DAWID PLUTA
0.2857142857142857
DAWID TRESCINSKI
0.24

DAWID WOZNIAK
0.2727272727272727
DOMINIK BAS
0.2857142857142857
DOMINIK NISZEWSKI
0.23076923076923078
DOMINIKA CHMIEL
0.24

DOMINIKA KOLODZIEJ
0.21428571428571427
DOROTA HOJDA
0.2857142857142857
DOROTA NOWOSWIECKA
0.2222222222222222
DOROTA OBIEGLO

0.25
DOROTA SZUL
0.3
DZIANIS KAZHAMIAKIN
0.20689655172413793

EDWARD WEINERT
0.24
EDYTA CHWIALKOWSKA
0.2222222222222222
EWA BORKOWSKA
0.2727272727272727

EWA FURMANEK
0.2857142857142857
EWA KAMINSKA
0.2857142857142857
EWA SIERKA
0.3157894736842105
EWELINA BUBIEN
0.25

EWELINA KIELKOWSKA-CZYZ
0.19047619047619047
EWELINA RESZYC
0.2608695652173913
EWELINA WOJCIESZAK
0.2222222222222222

FILIP DRZEWIECKI
0.23076923076923078
FILIP LIPINSKI
0.2608695652173913
FILIP WOJCIK
0.2727272727272727
GABRIELA KOMOROWSKA
0.21428571428571427

GABRIELA WIKTORZAK
0.20689655172413793
GABRIELA WYSOCKA
0.24
GRZEGORZ FRYDRYK
0.21428571428571427

GRZEGORZ GONDEK
0.22857142857142856
GRZEGORZ JANKOWIAK
0.20689655172413793
GRZEGORZ KUBICZEK
0.21428571428571427

GRZEGORZ KUPIDURA
0.21428571428571427
GRZEGORZ LONIEWSKI
0.21428571428571427
GRZEGORZ MAKARA
0.23076923076923078

GRZEGORZ MALICKI
0.2222222222222222
GRZEGORZ MARSZALEK
0.21428571428571427
GRZEGORZ PAWELSKI
0.2222222222222222

GRZEGORZ SITKOWSKI
0.21428571428571427
GRZEGORZ STRZELECKI
0.20689655172413793
GRZEGORZ TOSNOWIEC
0.21428571428571427

GRZEGORZ ZAWALNICKI
0.2
HANNA JADCZYK
0.2608695652173913
HANNA SPYCHALSKA-WASZEK
0.19047619047619047

IDA NOWAK
0.3333333333333333
IGA DUTCZAK
0.2727272727272727
IGOR TREGUB
0.2727272727272727
IRENEUSZ KUBAS
0.25

IRENEUSZ PATALAS
0.2222222222222222
IRENEUSZ ZASADNI
0.23076923076923078
IULIIA ANTONETS
0.25
IURII BORSUK
0.2608695652173913

IWONA LEWANDOWSKA
0.23076923076923078
IWONA PIATEK
0.2608695652173913
JACEK BIERNACKI
0.25
JACEK GACH
0.3

JACEK GRATKA
0.2857142857142857
JACEK KOLONKO
0.2608695652173913
JACEK KRASNOBORSKI
0.2222222222222222

JACEK KUCHARSKI
0.25
JACEK PARFIANOWICZ
0.23076923076923078
JACEK SLUPIANEK
0.25

JACEK WANDYCZ
0.2727272727272727
JACEK WESOLOWSKI
0.24
JADWIGA JOZEFCZYK
0.24

JAKUB BRYLAK
0.2857142857142857
JAKUB GARBOWSKI
0.25
JAKUB JAGOSZ
0.2857142857142857
JAKUB KACZMAREK
0.25

JAKUB LUBERADZKI
0.24
JAKUB MAZUR
0.3
JAKUB MEDRZAK
0.2727272727272727

JAKUB MICHALSKI
0.25
JAKUB MIELCZAREK
0.24
JAKUB MIODOWSKI
0.27586206896551724

JAKUB RACZEK
0.2857142857142857
JAKUB RASZEWSKI
0.25
JAN GRZEGRZOLKA
0.25
JAN KEDZIERSKI
0.2608695652173913

JAN MUCHA
0.3333333333333333
JAN ZAJAC
0.3333333333333333
JANUSZ GORAL
0.2857142857142857
JANUSZ PIKTA
0.2608695652173913

JAROSLAW KATNIK
0.23076923076923078
JAROSLAW SZCZEGIELNIAK
0.1935483870967742
JAROSLAW SZMIGIEL
0.23076923076923078

JAROSLAW WESELSKI
0.21428571428571427
JAROSLAW WOJCIAK
0.2222222222222222
JEDRZEJ PAWLAK
0.25

JERZY WICKOWSKI
0.24
JOANNA BIENKIEWICZ
0.2222222222222222
JOANNA FARKAS
0.2857142857142857
JOANNA LIMBERGER
0.24

JOANNA MAMCZYNSKA
0.23076923076923078
JOANNA PIATEK
0.25
JOANNA RADON
0.2857142857142857
JOLANTA BARAN
0.2727272727272727

JOZEF KOZYRA
0.25
JULIA ORLOWSKA
0.2608695652173913
JULITA HAJTKO
0.2727272727272727
JUSTYN KAMINSKI
0.25

JUSTYNA IWASIECZKO
0.2222222222222222
JUSTYNA JOB
0.2857142857142857
JUSTYNA KOZIEJ
0.2608695652173913
JUSTYNA ROMANOWSKA
0.2222222222222222

KACPER KOZIMOR
0.25
KALINA PASTERNAK
0.24
KAMIL BUCZEK
0.2608695652173913

KAMIL GREGORCZYK
0.24
KAMIL HALADUS
0.2727272727272727
KAMIL KARPOWICZ
0.25
KAMIL KOCIUGA
0.25

KAMIL KONIECZNY
0.25
KAMIL KOWALCZYK
0.23076923076923078
KAMIL MARCINKOWSKI
0.2222222222222222

KAMIL ROBAK
0.3
KAMIL WOJCIULEWICZ
0.20689655172413793
KAMILA MROZEK

0.2727272727272727
KAMILA SLOWIK
0.2727272727272727
KAMILA WEGRZYN
0.2608695652173913
KAROL MOZDZIOCH

0.25
KAROL STASINSKI
0.25
KAROL TOMASZEWSKI
0.23076923076923078
KAROL TUSZKIEWICZ

0.23076923076923078
KAROLINA GLOWACKA
0.21428571428571427
KAROLINA GONET
0.24

KAROLINA JAWORSKA
0.23076923076923078
KAROLINA KACPRZAK
0.21428571428571427

KAROLINA LUSZCZEWSKA
0.20689655172413793
KAROLINA MADEJ-DEMPNIAK
0.21739130434782608
KATARZYNA FRANKIEWICZ
0.1935483870967742

KATARZYNA GIL
0.2608695652173913
KATARZYNA JASION
0.24
KATARZYNA KOSOWSKA
0.2222222222222222

KATARZYNA KUBAT-EIJERIKS
0.20833333333333334
KATARZYNA MOTYKA
0.23076923076923078
KATARZYNA NOWAK-RYBKA
0.23809523809523808

KATARZYNA OSINSKA
0.23076923076923078
KATARZYNA PAJAK
0.23076923076923078
KATARZYNA PIETER
0.2222222222222222

KATARZYNA SOBOTKA
0.23076923076923078
KEVIN CHARECKI
0.24
KLAUDIA EKIERT
0.2608695652173913

KLAUDYNA NIECZYSZCZAK
0.2
KONRAD GANCZUK
0.24
KONRAD GLAC
0.2857142857142857
KONRAD LUKASIK

0.2608695652173913
KONRAD SKRZYPEK
0.25
KONRAD SOBIESKI
0.25
KONRAD TILL

0.2857142857142857
KOSMA TOMASZEK
0.24
KRYSTIAN CHWALISZ
0.23076923076923078
KRYSTIAN HORECKI

0.24
KRZYSZTOF BARCZYK
0.21428571428571427
KRZYSZTOF BIEGLUK
0.21428571428571427

KRZYSZTOF DOBOSZ
0.2222222222222222
KRZYSZTOF HADAS
0.25
KRZYSZTOF JADCZYK
0.20689655172413793
KRZYSZTOF JANAS
0.24

KRZYSZTOF KEPA
0.24
KRZYSZTOF KISIEL
0.2222222222222222
KRZYSZTOF KOZIARSKI
0.1935483870967742

KRZYSZTOF KOZLOWSKI
0.2
KRZYSZTOF KRAWCZYK
0.20689655172413793
KRZYSZTOF MIECHOWICZ
0.20689655172413793

KRZYSZTOF MOSCICHOWSKI
0.1935483870967742
KRZYSZTOF NAJDA
0.24
KRZYSZTOF NOGA
0.25
KRZYSZTOF NOWAKOWSKI
0.2

KRZYSZTOF PASZKO
0.21428571428571427
KRZYSZTOF POLASIK
0.20689655172413793
KRZYSZTOF RUDNICKI
0.21428571428571427
KRZYSZTOF SIUDA
0.2222222222222222

KRZYSZTOF STANASZEK
0.20689655172413793
LAURA MILLER
0.2727272727272727
LESZEK SYTNIEWSKI
0.2222222222222222
LUDMILA KADZIOLKA
0.2222222222222222

LUKASZ BLACHURA
0.25
LUKASZ BONIARCZYK
0.23076923076923078
LUKASZ BRODNY
0.2727272727272727
LUKASZ CIESIELSKI
0.21428571428571427

LUKASZ CZARNY
0.2727272727272727
LUKASZ DERKACZ
0.2608695652173913
LUKASZ GORSKI
0.2727272727272727
LUKASZ JAWORSKI
0.25

LUKASZ KADROW
0.2727272727272727
LUKASZ KORZENIOWSKI
0.21428571428571427
LUKASZ KORZENIOWSKI
0.21428571428571427

LUKASZ KOZIEL
0.25
LUKASZ KRZYKOWSKI
0.23076923076923078
LUKASZ KUCZYNSKI
0.2631578947368421

LUKASZ KUKLIS
0.2857142857142857
LUKASZ KULIK
0.29411764705882354
LUKASZ MALEC
0.2727272727272727
LUKASZ MARCZAK
0.2608695652173913

LUKASZ MAREK
0.2857142857142857
LUKASZ MISZTAL
0.25
LUKASZ NIEDZWIECKI
0.21428571428571427
LUKASZ ORDON
0.2857142857142857

LUKASZ RYBARCZYK
0.24
LUKASZ SAMIEC
0.2727272727272727
LUKASZ SOBCZYK
0.2608695652173913
LUKASZ SWIATKOWSKI
0.2222222222222222

LUKASZ TOMALA
0.2608695652173913
LUKASZ WOJCICKI
0.23076923076923078
LUKASZ WYSOTA
0.25
MACIEJ BRYNDZA
0.2608695652173913

MACIEJ GRZESIAK
0.25
MACIEJ HORBACZ
0.2608695652173913
MACIEJ JASTRZEBSKI
0.2222222222222222

MACIEJ KIEDROWSKI
0.23076923076923078
MACIEJ KOPEC
0.2608695652173913

MACIEJ NOHANOWICZ
0.23076923076923078
MACIEJ RUDY
0.3
MACIEJ TOPOROWICZ
0.23076923076923078

MACIEJ TULAZA
0.2727272727272727
MACIEJ WAWRUSZCZAK
0.2222222222222222
MACIEJ WYRODEK
0.2857142857142857
MACIEJ ZIELINSKI
0.24

MAGDA LENCZEWSKA
0.24
MAGDA RICHMOND
0.2608695652173913
MAGDALENA GLOWACKA
0.21428571428571427

MAGDALENA JARGUZ
0.24
MAGDALENA KEDZIORA
0.2222222222222222
MAGDALENA LESZCZYC-LASKOWSKA
0.2127659574468085

MAGDALENA MUCHA
0.25
MAGDALENA NOGA
0.24
MAGDALENA SITEK
0.25

MAGDALENA SOJA
0.2608695652173913
MAGDALENA WASCINSKA
0.21428571428571427
MAGDALENA WROBLEWSKA
0.20689655172413793

MAJA BANASZEWSKA-DUDEK
0.22727272727272727
MAKSYMILIAN KANOZA
0.20689655172413793
MALGORZATA CIESIELSKA
0.2

MALGORZATA KARCZEWSKA
0.2
MALGORZATA KRASZEWSKA
0.2

MALGORZATA MLONEK-PEC
0.23809523809523808
MALGORZATA PODSIADLO
0.20689655172413793
MALGORZATA SLOWIK
0.23076923076923078

MALWINA SIEK
0.2857142857142857
MALWINA SWIATEK
0.25
MARCEL FALKIEWICZ
0.2222222222222222
MARCELI GRABOWSKI
0.23076923076923078

MARCIN BARABASZ
0.25
MARCIN BIEN
0.2857142857142857
MARCIN BIERNACIK
0.23076923076923078
MARCIN FABER
0.2727272727272727

MARCIN GLAC
0.2857142857142857
MARCIN GRUDZINSKI
0.23076923076923078
MARCIN JANIK
0.2608695652173913
MARCIN KIEPAL
0.2608695652173913

MARCIN KOWALSKI
0.25
MARCIN MACIEJEWSKI
0.2222222222222222
MARCIN MEDAK
0.2727272727272727

MARCIN MUSIAL
0.2727272727272727
MARCIN PASTERNAK
0.24
MARCIN PIETRZYK
0.23076923076923078

MARCIN PILARCZYK
0.23076923076923078
MARCIN PRZEPIORKOWSKI
0.2
MARCIN RADLAK
0.2727272727272727

MARCIN RYCHTER
0.2608695652173913
MARCIN SKOWRONSKI
0.23076923076923078
MARCIN SLUSARCZYK
0.23076923076923078
MARCIN ZAJAC
0.2608695652173913

MARCIN ZYBURA
0.2608695652173913
MAREK BLAZEJOWSKI
0.23076923076923078
MAREK GRONOSTAJSKI
0.2222222222222222

MAREK MATYS
0.3
MAREK TRZASKOWSKI
0.23076923076923078
MAREK TYWONIAK
0.25
MAREK WISNIEWSKI
0.24

MARIA MISZTAL
0.2727272727272727
MARIA WAWRYCZUK
0.23076923076923078
MARIUSZ JADACH
0.2608695652173913
MARIUSZ ROKITA
0.2608695652173913

MARIUSZ WOZNIAK
0.25
MARTA CZWOJDZINSKA
0.2222222222222222
MARTA DRZEWINSKA
0.24

MARTA DUDEK
0.2727272727272727
MARTA DYCJAN
0.2608695652173913
MARTA GORALIK
0.2608695652173913

MARTA GREGORCZYK
0.2222222222222222
MARTA KACPRZAK
0.24

MARTA KARBOWSKA
0.25
MARTA KOCAJ
0.2727272727272727
MARTA KOZLOWSKA
0.25
MARTA LACH
0.3157894736842105

MARTA MACIASZEK
0.25
MARTA MARKIEWICZ
0.23076923076923078

MARTA MICHALCZEWSKA
0.21428571428571427
MARTA MONDZELEWSKA
0.2222222222222222
MARTA NOWIK

0.2727272727272727
MARTA PARADOWSKA
0.24
MARTA SCIEGLINSKA-SZTABA
0.23255813953488372
MARTA WLODARCZYK
0.23076923076923078

MARTYNA FIJOLEK
0.24
MARZENA PIETRUS
0.25
MATEUSZ BODZIONY
0.2222222222222222

MATEUSZ CYRZAN
0.2608695652173913
MATEUSZ CZERNIAWSKI
0.21428571428571427
MATEUSZ GIZA
0.2608695652173913

MATEUSZ GROMULSKI
0.23076923076923078
MATEUSZ PACHOLEC
0.23076923076923078

MATEUSZ PUSTELNIK
0.2222222222222222
MATEUSZ RAZNIAK
0.25

MATEUSZ ROZANSKI
0.24
MATEUSZ ZAJAC
0.25
MATEUSZ ZIETA
0.25

MICHAL BUCZKO
0.25
MICHAL DRON

0.3
MICHAL GALINSKI
0.25
MICHAL GLOGIEWICZ
0.21428571428571427

MICHAL GLOWACZEWSKI
0.21428571428571427
MICHAL GLUSZCZAK
0.24
MICHAL GOGOL

0.2608695652173913
MICHAL GOLKA
0.2608695652173913
MICHAL GORNIK

0.2727272727272727
MICHAL HRYNCEWICZ
0.23076923076923078

MICHAL JAKUBIUK
0.23076923076923078
MICHAL JANKOWSKI
0.24

MICHAL KOPEC
0.2608695652173913
MICHAL KOZIAROWSKI
0.2222222222222222
MICHAL KOZLOWSKI

0.24
MICHAL LAPETA
0.2608695652173913
MICHAL LENARTOWICZ
0.2222222222222222
MICHAL MARKOWSKI
0.24
MICHAL NIEZBORALA
0.23076923076923078

MICHAL OCZKOWICZ
0.2222222222222222
MICHAL PINDYCH
0.2608695652173913
MICHAL ROME
0.3

MICHAL STANKIEWICZ
0.2222222222222222
MICHAL SWIETLIK
0.25
MICHAL SZEREMETA
0.24

MICHAL TABOLA
0.25
MICHAL TARASEWICZ
0.23076923076923078
MIKOLAJ HOLCMAN
0.25

MIKOLAJ KOWALCZYK
0.23076923076923078
MIKOLAJ RADOJEWSKI
0.2222222222222222
MILENA JEZIORNA
0.25
MILENA ROGALA

0.2727272727272727
MIROSLAW KARPIEWSKI
0.2
MONIKA GORZELAK
0.25
MONIKA GORZELAK-BIENKO
0.22727272727272727

MONIKA GRZECH
0.2727272727272727
MONIKA LASZCZYNSKA
0.2222222222222222
NATALIA MYSLAK
0.2608695652173913
NATALLIA KEDRAVA
0.24

NIKOS CZUCZOS
0.24
NINA KOLODZIEJEK
0.23076923076923078
NINA LEMIESZEWSKA
0.23076923076923078
NINA WOJCIK
0.2727272727272727

OKSANA KRYSIUK
0.2608695652173913
OLGA BETIUK
0.2727272727272727
OLGA LAVRYNENKO
0.25
OLGA SZYMCZYK
0.2727272727272727

OSKAR KUNICKI
0.2608695652173913
PATRYK CZECZOT
0.25
PATRYK HEMPEREK
0.25

PATRYK KULECKI
0.25
PATRYK LOTZWI
0.2608695652173913
PAULA BRYSIK
0.2857142857142857
PAULA LACZYNSKA
0.25

PAULINA CHYBICKA
0.24
PAULINA KUDACH
0.2608695652173913
PAULINA MACHOWSKA
0.23076923076923078
PAULINA MLYNSKA
0.25

PAULINA PALUCH
0.2608695652173913
PAULINA ROSZCZAK-SLIWA
0.24390243902439024
PAULINA SIELSKA
0.25
PAULINA SWISTACZ-GRZYWA
0.21739130434782608

PAWEL BAJ
0.3333333333333333
PAWEL BAJRAK
0.2857142857142857
PAWEL BORKOWSKI
0.25
PAWEL BUTYLINSKI
0.24

PAWEL GORECKI
0.2727272727272727
PAWEL GRUDZINSKI
0.24
PAWEL GRUNDYS
0.2727272727272727
PAWEL GRZYWACZ
0.2608695652173913

PAWEL HAJZER
0.2857142857142857
PAWEL JABLONSKI
0.25

PAWEL JACKIEWICZ
0.23076923076923078
PAWEL JAROSZ
0.2857142857142857
PAWEL KOSTECKI
0.2608695652173913

PAWEL KRAWCZYK
0.2608695652173913
PAWEL KRECIWILK
0.25
PAWEL KWIATKOWSKI
0.23076923076923078

PAWEL MURACZEWSKI
0.23076923076923078
PAWEL OZOG
0.3
PAWEL PRAJZNER
0.2608695652173913
PAWEL PROCUKIEWICZ

0.2222222222222222
PAWEL RAWSKI
0.2857142857142857
PAWEL RYGOWSKI
0.2608695652173913
PAWEL SKORNICZ
0.2608695652173913
PAWEL STOPINSKI
0.25

PAWEL STRYCZEK
0.2608695652173913
PAWEL TUREK
0.3
PAWEL URBAN
0.3
PAWEL WASIK
0.3

PAWEL WORONIECKI
0.24
PAWEL ZAJAC
0.2727272727272727

PAWEL ZAPALOWSKI
0.24
PETRO ROGUTSKYI
0.24

PIOTR BARANOWSKI
0.24
PIOTR BARCZYNSKI
0.24

PIOTR BLAZKOWSKI
0.24
PIOTR BUGAJ
0.3
PIOTR CHRZCZONOWICZ

0.21428571428571427
PIOTR CZAPLA
0.2608695652173913
PIOTR FALKOWSKI
0.24

PIOTR GORZELANY
0.25
PIOTR HEPNER
0.2857142857142857
PIOTR IZAK
0.3
PIOTR JAMINSKI
0.2608695652173913

PIOTR KLAMERUS
0.25
PIOTR KLIMISZ
0.2608695652173913
PIOTR KLYS
0.3
PIOTR KROL
0.3

PIOTR KWIATKOWSKI
0.2222222222222222
PIOTR MACIOCHA
0.2608695652173913
PIOTR MAJSTEREK
0.24
PIOTR MANIEWSKI

0.25
PIOTR MAZUR
0.2727272727272727
PIOTR MITKA
0.2857142857142857
PIOTR OSTROWSKI
0.24

PIOTR PIECHURA
0.2608695652173913
PIOTR TOMCZYK
0.2608695652173913
PIOTR TORONCZAK
0.25
PIOTR WINIARSKI
0.25

PIOTR ZABINSKI
0.2608695652173913
PIOTR ZAJAC
0.2727272727272727
PIOTR ZUZAK
0.2857142857142857
PRZEMYSLAW GONIOWSKI
0.2

PRZEMYSLAW JASKOLOWSKI
0.1875
PRZEMYSLAW KIELMAN
0.21428571428571427
PRZEMYSLAW KRYSTKOWIAK

0.1875
PRZEMYSLAW PILZYS
0.2222222222222222
PRZEMYSLAW RADON
0.24

RADOSLAW BIENIEK
0.23076923076923078
RADOSLAW GNUTEK
0.24
RADOSLAW JANKOWSKI
0.21428571428571427

RADOSLAW JANKOWSKI
0.21428571428571427
RADOSLAW MAZIARKA
0.2222222222222222
RADOSLAW PRETCZYNSKI
0.2

RADOSLAW STAWIARSKI
0.21428571428571427
RADOSLAW WOZNIAKOWSKI
0.1935483870967742
RADOSLAW ZACHARZEWSKI
0.2

RAFAEL FRACEK
0.2608695652173913
RAFAL BAJNO
0.2727272727272727
RAFAL CZAKON
0.2608695652173913
RAFAL KOWALIK
0.25

RAFAL LUKJANOWICZ
0.2222222222222222
RAFAL LYDUCH
0.2857142857142857
RAFAL MOJZA
0.2857142857142857
RAFAL PYTKOWSKI

0.25
RAFAL SZAMPERA
0.2608695652173913
RAFAL SZYMCZAK
0.2608695652173913
RENATA WODA
0.2857142857142857

ROBERT GRUSZKA
0.25
ROBERT KALINA
0.25
ROMAN CZARKO-WASIUTYCZ
0.22727272727272727

ROMAN MORDAK
0.2727272727272727
ROMAN TRACZ
0.2727272727272727
RYSZARD SENIUTA
0.25
RYSZARD ZUKOWSKI

0.23076923076923078
SANDRA KUBICKA
0.25
SANDRA SAMOR
0.2857142857142857
SEBASTIAN BANASZAK
0.21428571428571427

SEBASTIAN LEWANDOWSKI
0.1935483870967742
SEBASTIAN NAWARA
0.24
SERGII POVZANIUK
0.24

SERGIUSZ WOLEWICZ
0.21428571428571427
SERGIUSZ WOZNICKI
0.23076923076923078
SERHII KRYVETS
0.24

SEWERYN KRACZYNSKI
0.20689655172413793
SLAWOMIR KOPACZ
0.23076923076923078
SLAWOMIR PACIA
0.24

SLAWOMIR SOLKIEWICZ
0.21428571428571427
STEFANIA KOLARZ
0.25
STEFANIA WINKEL
0.24

SYLWESTER KRASZKIEWICZ
0.18181818181818182
SYLWESTER NIEMIEC
0.21428571428571427
SYLWIA CZAJKOWSKA
0.21428571428571427

SYLWIA GREZAK
0.2727272727272727
SYLWIA KACPERSKA
0.24
SYLWIA SIEWIERTOKA
0.2222222222222222

TOMASZ BIELASZEWSKI
0.20689655172413793
TOMASZ BIEN
0.2727272727272727

TOMASZ CZYZKOWSKI
0.21428571428571427
TOMASZ DABROWSKI
0.24
TOMASZ FAJKS
0.2727272727272727

TOMASZ FILAK
0.2727272727272727
TOMASZ GOLEBIOWSKI
0.21428571428571427
TOMASZ JASINSKI
0.23076923076923078

TOMASZ KOZLOWSKI
0.23076923076923078
TOMASZ KRAKOWCZYK
0.23076923076923078
TOMASZ KRASNODEBSKI

0.21428571428571427
TOMASZ LEHMAN
0.2608695652173913
TOMASZ LUKASIEWICZ
0.21428571428571427

TOMASZ PASZEK
0.25
TOMASZ PIERONEK
0.25
TOMASZ POROSINSKI
0.23076923076923078

TOMASZ ROMANOWSKI
0.23076923076923078
TOMASZ SKIBICKI
0.25
TOMASZ SMOLINSKI
0.24

TOMASZ SUCHAN
0.2727272727272727
TOMASZ SZPYTKO
0.2608695652173913
TOMASZ TOKARSKI
0.25
TOMASZ TRYBALA

0.2608695652173913
URSZULA ADAMSKA
0.24
URSZULA GAZDA
0.25
URSZULA KRUPA-SAWICKA
0.23809523809523808

URSZULA PUKALSKA
0.2222222222222222
VICTOR MARTINEZ ROIG
0.25
WALDEMAR SZUMIGAJ
0.23076923076923078

WERONIKA MORISSON-GLAPA
0.21739130434782608
WERONIKA NOWACKA
0.24
WERONIKA SABINIEWICZ
0.20689655172413793

WERONIKA TOBOR
0.25
WIOLETA PATKOWSKA
0.23076923076923078

WITOLD ERGIETOWSKI
0.21428571428571427
WOJCIECH CHROBAK
0.2222222222222222
WOJCIECH CZUJOWSKI
0.2222222222222222

WOJCIECH DOLISZNY
0.23076923076923078
WOJCIECH DUTKIEWICZ
0.21428571428571427
WOJCIECH DZIKOWICZ
0.2222222222222222
WOJCIECH JAKUBOWSKI
0.20689655172413793

WOJCIECH KACZMAREK
0.2222222222222222
WOJCIECH KROLIKOWSKI
0.2
WOJCIECH LUCIOW
0.20689655172413793

WOJCIECH MACHNIAK
0.23076923076923078
WOJCIECH MIODEK
0.25
WOJCIECH NOWAK
0.2608695652173913
WOJCIECH OSTROWSKI
0.21428571428571427

WOJCIECH SOLTYSIK
0.2222222222222222
WOJCIECH WYZGA
0.2608695652173913
YAROSLAV GONTAR
0.23076923076923078
ZBIGNIEW RUBINSKI
0.2222222222222222

ZUZANNA KOKOSZKA
0.24

In [684]:
matched_employees = matched_employees.drop(['level_2'], axis=1)

In [685]:
merged_salary = salaries.merge(matched_employees, how="outer")
merged_salary.shape

(706, 14)

In [686]:
merged_salary['Ratio'] = merged_salary['MatchedNameRatio'] * merged_salary['MatchedPositionRatio']

In [687]:
merged_salary[(~merged_salary['MatchedPosition'].isnull()) & (merged_salary['Ratio'] < 0.2)][['FinanceName', 'FinancePosition', 'MatchedPosition']].drop_duplicates()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>FinanceName</th>
      <th>FinancePosition</th>
      <th>MatchedPosition</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>ADAMSKA-WOŹNY ALEKSANDRA</td>
      <td>Assistant Guild Master</td>
      <td>Assistants Guild Manager</td>
    </tr>
    <tr>
      <th>2</th>
      <td>ANDRUSIECZKO ANDRZEJ</td>
      <td>Junior Quality Engineer/ Młodszy Tester Oprogr...</td>
      <td>Junior Quality Engineer</td>
    </tr>
    <tr>
      <th>3</th>
      <td>ANDRZEJEWSKI ADRIAN</td>
      <td>Chapter Leader Service Delivery Manager</td>
      <td>Chapter Leader Service Delivery Manager</td>
    </tr>
    <tr>
      <th>4</th>
      <td>ANTONETS IULIIA</td>
      <td>ANALITYK BIZNESOWY</td>
      <td>Quality Engineer</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Badura ALEKSANDER</td>
      <td>Senior Automation Quality Engineer/Starszy Tester</td>
      <td>Automation Quality Engineer</td>
    </tr>
    <tr>
      <th>10</th>
      <td>BARTNIKIEWICZ AGNIESZKA</td>
      <td>Personal Assistant</td>
      <td>Attract Lead HR Business Partner</td>
    </tr>
    <tr>
      <th>11</th>
      <td>BARTOSIEWICZ ANNA</td>
      <td>Finance Project Office Specialist</td>
      <td>Finance Project Office Specialist</td>
    </tr>
    <tr>
      <th>13</th>
      <td>BEDNAREK AGATA</td>
      <td>BUSINESS ANALYST /  Analityk Biznesowy</td>
      <td>Business Analyst</td>
    </tr>
    <tr>
      <th>15</th>
      <td>BIENKIEWICZ JOANNA</td>
      <td>Quality Engineer</td>
      <td>Quality Engineer</td>
    </tr>
    <tr>
      <th>19</th>
      <td>BŁAŻKOWSKI PIOTR</td>
      <td>TEAM LEADER SENIOR QUALITY ENGINEER</td>
      <td>Team Leader Senior Quality Engineer</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Boniarczyk Łukasz</td>
      <td>Senior Software Developer / Starszy Programista</td>
      <td>Senior Software Developer</td>
    </tr>
    <tr>
      <th>30</th>
      <td>BUGAJ Piotr</td>
      <td>SOFTWARE  DEVELOPER / Programista</td>
      <td>Software Developer</td>
    </tr>
    <tr>
      <th>33</th>
      <td>CHARECKI KEVIN</td>
      <td>Software Developer / Programista</td>
      <td>Attract Lead HR Business Partner</td>
    </tr>
    <tr>
      <th>36</th>
      <td>CHWALISZ KRYSTIAN</td>
      <td>TRIBE MASTER</td>
      <td>Tribe Master</td>
    </tr>
    <tr>
      <th>37</th>
      <td>CHYBICKA PAULINA</td>
      <td>JUNIOR PAYROLL SPECIALIST</td>
      <td>Junior Payroll Specialist</td>
    </tr>
    <tr>
      <th>39</th>
      <td>CIESIELSKI ŁUKASZ</td>
      <td>MARKETING DIRECTOR</td>
      <td>Marketing Director</td>
    </tr>
    <tr>
      <th>41</th>
      <td>CZAJKOWSKA SYLWIA</td>
      <td>GROUP FINANCIAL CONTROLLER</td>
      <td>Group Financial Controller</td>
    </tr>
    <tr>
      <th>43</th>
      <td>CZARTORYSKI ARTUR</td>
      <td>Project Coordinator</td>
      <td>Project Coordinator</td>
    </tr>
    <tr>
      <th>44</th>
      <td>CZERNIAWSKI MATEUSZ</td>
      <td>IT System Architect</td>
      <td>IT Systems Architect</td>
    </tr>
    <tr>
      <th>45</th>
      <td>CZUJOWSKI WOJCIECH</td>
      <td>Senior Project Manager</td>
      <td>Senior Project Manager</td>
    </tr>
    <tr>
      <th>46</th>
      <td>Czwojdzińska Marta</td>
      <td>Service Operations Analyst / Analityk Sys Oper...</td>
      <td>Service Operations Analyst</td>
    </tr>
    <tr>
      <th>47</th>
      <td>CZYŻKOWSKI TOMASZ</td>
      <td>Team Leader Senior Visual Designer</td>
      <td>Team Leader Senior Visual Designer</td>
    </tr>
    <tr>
      <th>48</th>
      <td>DANIELECKI DARIUSZ</td>
      <td>Team Leader Junior Systems Engineer</td>
      <td>Team Leader Junior IT Systems Engineer</td>
    </tr>
    <tr>
      <th>49</th>
      <td>DĄBROWSKI TOMASZ</td>
      <td>IT Systems Engineer</td>
      <td>Senior IT Systems Engineer</td>
    </tr>
    <tr>
      <th>55</th>
      <td>DUTKIEWICZ WOJCIECH</td>
      <td>SENIOR SOFTWARE DEVELOPER</td>
      <td>Senior Software Developer</td>
    </tr>
    <tr>
      <th>58</th>
      <td>Falkiewicz MARCEL</td>
      <td>Data Scientist/Ekspert ds. Danych</td>
      <td>Data Scientist</td>
    </tr>
    <tr>
      <th>61</th>
      <td>FIJOŁEK MARTYNA</td>
      <td>SPECJALISTA DS. EVENTÓW I KOMUNIKACJI</td>
      <td>Technical Development Manager</td>
    </tr>
    <tr>
      <th>63</th>
      <td>FRANKIEWICZ Katarzyna</td>
      <td>Personal Assistant</td>
      <td>Personal Assistant</td>
    </tr>
    <tr>
      <th>67</th>
      <td>FRĄTCZAK ANNA</td>
      <td>Junior Support Management Office Specialist</td>
      <td>Junior SMO Specialist</td>
    </tr>
    <tr>
      <th>68</th>
      <td>FRYDRYK GRZEGORZ</td>
      <td>Team Leader Senior Automation Quality Engineer</td>
      <td>Team Leader Senior Automation Quality Engineer</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>628</th>
      <td>OŻÓG PAWEŁ</td>
      <td>IT OPERATIONS AND DEVELOPMENT GUILD</td>
      <td>IT Operations Services Guild Master</td>
    </tr>
    <tr>
      <th>630</th>
      <td>PARFIANOWICZ JACEK</td>
      <td>SENIOR SOFTWARE DEVELOPER</td>
      <td>Senior Software Developer</td>
    </tr>
    <tr>
      <th>631</th>
      <td>Pasternak MARCIN</td>
      <td>Design Guild Master/Kierownik działu projektow...</td>
      <td>Design Guild Master</td>
    </tr>
    <tr>
      <th>633</th>
      <td>Paszko KRZYSZTOF</td>
      <td>Junior Service Deliver Manager</td>
      <td>Junior Service Delivery Manager</td>
    </tr>
    <tr>
      <th>634</th>
      <td>Patalas Ireneusz</td>
      <td>Team Leader Senior Software Developer</td>
      <td>Team Leader Senior Software Developer</td>
    </tr>
    <tr>
      <th>639</th>
      <td>POLASIK KRZYSZTOF</td>
      <td>PROJECT MANAGER</td>
      <td>Project Manager</td>
    </tr>
    <tr>
      <th>640</th>
      <td>PRZEPIÓRKOWSKI MARCIN</td>
      <td>SENIOR ANDROID DEVELOPER</td>
      <td>Senior Android Developer</td>
    </tr>
    <tr>
      <th>644</th>
      <td>RADOJEWSKI MIKOŁAJ</td>
      <td>SENIOR SOFTWARE DEVELOPER</td>
      <td>Senior Software Developer</td>
    </tr>
    <tr>
      <th>646</th>
      <td>RADOŃ PRZEMYSŁAW</td>
      <td>Senior Quality Engineer</td>
      <td>Senior Quality Engineer</td>
    </tr>
    <tr>
      <th>650</th>
      <td>RAWSKI Paweł</td>
      <td>TEAM LEADER SENIOR QUALITY ENGINEER</td>
      <td>Senior Quality Engineer</td>
    </tr>
    <tr>
      <th>654</th>
      <td>RUDNICKI KRZYSZTOF</td>
      <td>TECHNICAL ARCHITECT</td>
      <td>Technical Architect</td>
    </tr>
    <tr>
      <th>655</th>
      <td>RUTKIEWICZ DAMIAN</td>
      <td>AGILE EXPERT</td>
      <td>Agile Expert</td>
    </tr>
    <tr>
      <th>661</th>
      <td>Smoliński Tomasz</td>
      <td>IT Consultant</td>
      <td>IT Consultant</td>
    </tr>
    <tr>
      <th>663</th>
      <td>SOŁTYSIK WOJCIECH</td>
      <td>Robotic Process Automation Specialist</td>
      <td>Procurement Specialist</td>
    </tr>
    <tr>
      <th>664</th>
      <td>STARCZEWSKI ARKADIUSZ</td>
      <td>Team Leader Robotic Process Automation Specialist</td>
      <td>Team Leader RPA Specialist</td>
    </tr>
    <tr>
      <th>666</th>
      <td>Stopiński Paweł</td>
      <td>Senior IT System Engineer</td>
      <td>Junior IT Systems Engineer</td>
    </tr>
    <tr>
      <th>667</th>
      <td>Strzelecki GRZEGORZ</td>
      <td>Head of Development</td>
      <td>Sales Development Leader</td>
    </tr>
    <tr>
      <th>670</th>
      <td>Szatanik Bartosz</td>
      <td>TEAM LEADER TECHNICAL ARCHITECT</td>
      <td>Technical Architect</td>
    </tr>
    <tr>
      <th>672</th>
      <td>Świetlik Michał</td>
      <td>Senior Software Developer/ Starszy Programista</td>
      <td>Senior Software Developer</td>
    </tr>
    <tr>
      <th>676</th>
      <td>TOMASZEWSKI KAROL</td>
      <td>Team Leader Senior Software Developer</td>
      <td>Team Leader Senior Software Developer</td>
    </tr>
    <tr>
      <th>680</th>
      <td>TOSNOWIEC GRZEGORZ</td>
      <td>AUTOMATION QUALITY ENGINEER</td>
      <td>Automation Quality Engineer</td>
    </tr>
    <tr>
      <th>681</th>
      <td>TREŚCIŃSKI DAWID</td>
      <td>SOFTWARE DEVELOPER</td>
      <td>Software Developer</td>
    </tr>
    <tr>
      <th>687</th>
      <td>WAWRUSZCZAK MACIEJ</td>
      <td>BUSINESS ANALYST</td>
      <td>Business Analyst</td>
    </tr>
    <tr>
      <th>689</th>
      <td>WILCZYŃSKA-GAŁĘSKA ANETA</td>
      <td>HR BIZNES PARTNER</td>
      <td>HR Business Partner</td>
    </tr>
    <tr>
      <th>690</th>
      <td>WINCZASZEK BEATA</td>
      <td>QUALITY EXPERT</td>
      <td>Quality Expert</td>
    </tr>
    <tr>
      <th>692</th>
      <td>WOJCIULEWICZ Kamil</td>
      <td>Chief Information Security Officer</td>
      <td>Chief Information Security Officer</td>
    </tr>
    <tr>
      <th>695</th>
      <td>WÓJCIK BARTŁOMIEJ</td>
      <td>AUTOMATION QUALITY ENGINEER</td>
      <td>Automation Quality Engineer</td>
    </tr>
    <tr>
      <th>697</th>
      <td>WYZGA WOJCIECH</td>
      <td>UX &amp; RPA Guild Master Business Analyst</td>
      <td>Business Analyst</td>
    </tr>
    <tr>
      <th>698</th>
      <td>ZACHARZEWSKI RADOSŁAW</td>
      <td>RPG DEVELOPER</td>
      <td>RPG Developer</td>
    </tr>
    <tr>
      <th>705</th>
      <td>ŻUKOWSKI RYSZARD</td>
      <td>PM ADVISOR</td>
      <td>Project Management Advisor</td>
    </tr>
  </tbody>
</table>
<p>301 rows × 3 columns</p>
</div>

In [688]:
employees = employees[['Name', 'Position', 'Tribe', 'Subtribe', 'Guild', 'Subguild', 'Office', 'Level', 'values',
                       'LeaveDate', 'EmploymentDate', 'Management', 'Date', 'Backoffice', 'LastWorkingDate', 'Sex']]

In [689]:
employees['Date'] = employees['Date'].apply(lambda x : x.date())
merged_salary['Date'] = pd.to_datetime(merged_salary['Date'])
merged_salary['Date'] = merged_salary['Date'].apply(lambda x : x.date())
merged_salary = merged_salary.merge(employees, how="outer", left_on=['MatchedName', 'Date'], right_on=['Name', 'Date'])
merged_salary.head()
salaries.shape[0], merged_salary.shape[0]
merged_salary['Date'].unique()
count = merged_salary.groupby(['Name', 'Date']).apply(lambda x: pd.DataFrame({'Count': [x.shape[0]]}))
count[count['Count'] > 1]
merged_salary.head()
merged_salary[(merged_salary['Name'] == 'Monika Grzech')]['Ratio'].head()
merged_salary['ContractType'].unique()

array(['Na czas nieokreślony', 'B2B', 'Na okres próbny',
       'Na czas określony', nan], dtype=object)

In [690]:
FIN_SERVER = "OBJPLDMFIN1"
FIN_DATABASE = "Cost"
FIN_SCHEMA = "dbo"
FIN_DB_CONNECTION = 'mssql+pyodbc://@' + FIN_SERVER + '/' + FIN_DATABASE + '?driver=SQL+Server+Native+Client+11.0?trusted_connection=yes'
FIN_ENGINE = sqlalchemy.create_engine(FIN_DB_CONNECTION, pool_size=20, max_overflow=100)

In [691]:
contract_data = merged_salary

In [692]:
merged_salary.to_sql('Salaries_ContractValues_Tmp', FIN_ENGINE.connect(), if_exists='replace', index=False)